{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method="POST">
    <img class="logo-img" src="/images/logo.svg" />

    {% include "_partials/flash.njk" %}

    <input type="email" name="email" placeholder="E-mail" />
    <input type="password" name="password" placeholder="Password" />

    <button type="submit">Log in</button>

    <a href="/signup">Sign up</a>
  </form>
{% endblock %}
