<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>Barber Scheduling App</title>

  <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon" />

  <link rel="stylesheet" href="/styles.css" />

  <link rel="stylesheet" href="/flatpickr.min.css" />
  <script src="/flatpickr.js"></script>
</head>
