{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Schedules</strong>
    <p>Your schedules for today</p>

    <ul class="providers">
      {% for appointment in appointments %}
        <li class="provider">
          <div>
            <strong>{{ appointment.user.name }}</strong>
            <strong>{{ appointment.date | date("HH:mm") }}</strong>
          </div>
        </li>
      {% endfor %}
    </ul>

    <a href="/app/logout" class="logout">Log out</a>
  </div>
{% endblock %}
